
        h1 {
            color: red;
        }
        img {
            width: 400px;
        }
        #thirdDiv {
            height: 600;
            width: 500;
            background-color: aqua;
            padding: 50px;
          border-color: purple;
           border-width: 10px;
           border-style: double;
        }
        #spanId {
            font-size: 18px;
            margin: 50px;
        }